$miFuente: url('../assets/font/ITCAvantGardeStd-Demi.ttf');
$fontCard: url('../assets/font/Poppins-Medium.ttf');
$colorPrincipal : #48AF65;

@font-face {
  font-family: 'Mi Fuente';
  src: $miFuente;
}
@font-face {
  font-family: 'Poppins';
  src: $fontCard;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html{
  height: 100%;
}

.showSectionTask{
  transform: translateX(0%) !important;
}
.checkOn{
  width: 28% !important;
}
.showInputBox{
  transform: translateY(5vh) !important;
  height: 12% !important;
}
.createMargin{
  margin-bottom: 8.5vh !important;

}
.newRadius{
  border-radius: 16px 16px 0px 0px !important;

}

body{
  margin: 0;
  font-family: 'Poppins' , sans-serif;
  background-color: #1F2128;
  height: 100vh;
  overflow: hidden;
  .inputCreateTaskContainer{
    display: flex;
    background: #343740;
    border-radius: 16px;
    

    input{
      width: 100%;
      background: none;
      border: none;
      font-family: 'Poppins', sans-serif;
      font-size: 15px;
      color: #fff;
    }
    button{
      background: none;
      border: none;

    }
  }
  .sectionTask{
    transition: all .5s;
    position: fixed;
    z-index: 4;
    background-color: #1F2128;
    transform: translateX(100%);//////////////////////////////////////////////////
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .headerSectionTask{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85%;
      height: 10%;
      img{
        //margin-inline: 5%;
      }
      h1{
        color: #fff;
        font-size: 18px;
        font-weight: 100;
      }
    }
    .mainSectionTask{
      height: 90%;
      width: 100%;
      color: #fff;
      display: flex;
      gap: 10px;
      flex-direction: column;
      overflow-y: scroll;
      align-items: center;
      .tasksContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      .inputCreateTask{
        width: 85%;
        transform: translateY(0%);
        border-radius: 0px 0px 16px 16px ;
        z-index: 1;
        height: 0vh;
        margin-top: -10px;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: #343740;
        transition: all 0.5s;
        .formCreateTask{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;          
          overflow: hidden;
          .inputTextCreateTask{
            width: 76%;
            border: none;
            background: transparent;
            font-size: 15px;
            color: #fff;
            font-family: 'Poppins' , sans-serif;
            padding-left: 2rem;
            &:focus{
              background: none;
              text-decoration: none; 
              box-shadow: none; 
              border: none;
              outline: none;
             }
            }
          .buttonSubmitCreateTask{
            width: 24%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: none;
            border: none;

          }
        }
      }

      .createTask{
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        width: 85%;
        display: flex;
        align-items: center;
        height: 8.5vh;
        background-color:$colorPrincipal;
        .taskText{
          
          width: 76%;
          padding-left: 2rem;
        }
        .boxIcon{
          width: 24%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .task{
        display: flex;
        justify-content: space-between;
        background-color: #252831;
        border-radius: 16px;
        display: flex;
        align-items: center;
        height: 8.5vh;
        width: 85%;
        .taskText{

          width: 100%;
          p{
            padding-left: 2rem;
          }
        }
        .checked{
          
          background-color: $colorPrincipal;
          border-radius: 0px 16px 16px 0px;
          width: 0%;
          //width: 28%;
          overflow: hidden;
          transition: all .1s;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

        }
      }
    }
  }

  header{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 25vw;
    }
  }

  main{
    height: 90%;
    overflow-y: scroll;

    .boxContainer{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      transition: all .5s;
      .createANewBoxSistem{
        width: 100%;
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .inputCreateBox{
        width: 85%;
        transform: translateY(0%);
        border-radius: 0px 0px 16px 16px ;
        z-index: 1;
        height: 0vh;
        margin-top: -10px;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: #343740;
        transition: all 0.5s;

        .formCreateBox{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;          
          overflow: hidden;
          .inputTextCreateBox{
            width: 76%;
            border: none;
            background: transparent;
            font-size: 15px;
            color: #fff;
            font-family: 'Poppins' , sans-serif;
            padding-left: 2rem;
            &:focus{
              background: none;
              text-decoration: none; 
              box-shadow: none; 
              border: none;
              outline: none;
              
            }
          }
          .buttonSubmitCreateBox{
            width: 24%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: none;
            border: none;
          }
        }
      }
      .createBox{
        background-color: $colorPrincipal;
        width: 85%;
        transition: all .5s;
        height: 8.5vh;
        display: flex;
        position: relative;
        //padding-block: 3vh;
        
        border-radius: 16px;
        z-index: 2;
        .boxText{
          color: #fff;
          width: 76%;
          display: flex;
          align-items: center;
          // padding: 3.5%;
          p{
            padding-left: 2rem;
          }
        }
        .boxIcon{
          display: flex;
          justify-content: center;
          width: 24%;
          align-items: center;
        }
      }
      .box{
        font-size: 15px;
        height: 8.5vh;
        width: 85%;
        // padding: 3.5%;
        border-radius: 16px;
        //padding-block: 3.237vh;
        text-align: start;
        color: #fff;
        background-color: #252831;
        display: flex;
        justify-content: start;

        .boxText{
          //background-color: #124122;
          width: 76%;
          display: flex;
          align-items: center;
          // padding: 3.5%;
          border-radius: 16px 0px 0px 16px;
          p{
            padding-left: 2rem;
          }
        }
        .boxIcon{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24%;
        }
        .checked{
          overflow: hidden;
          background-color: $colorPrincipal;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24%;
          border-radius: 0px 16px 16px 0px;
        }
      }
    }
  }
  // footer{
  //   height: 10%;
  //   div{
  //     margin-right: 15px;
  //     display: flex;
  //     justify-content: end;
  //     img{
  //       background-color: $colorPrincipal;
  //       padding: 7%;
  //       border-radius: 16px;
  //     }

  //   }
  // }
}

@media only screen and (min-width: 300px) {

  }
@media only screen and (min-width: 480px) {

  }
@media only screen and (min-width: 668px) {

  }
  
  @media only screen and (min-width: 768px)  {

  }
  
  @media only screen and (min-width: 1025px) {

  }
  
  @media only screen and (min-width: 1280px) {

  }